body {
  background-color: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #cfcfcf;
}

#TMG {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  margin: 10% 5% 10% 5%;
}

#TMG figure {
  margin: 0;
}

#TMG article {
  padding: 2rem;
  border-radius: 5px;
}

#TMG img {
  border-radius: 100%;
  width: 60%;
}

#TMG .TMG__article-person-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TMG .TMG__article-person-names-container .TMG__article-person-first-name-white {
  color: #ecf2f8;
  margin-bottom: 5px;
}

#TMG .TMG__article-person-names-container .TMG__article-person-last-name {
  color: #ecf2f8;
  opacity: 50%;
  margin-top: 0px;
}

#TMG .TMG__article-strong-p-white {
  font-weight: 600;
  color: #ecf2f8;
  font-size: 1.5rem;
  margin-top: 10px;
}

#TMG .TMG__article-regular-p-white {
  opacity: 50%;
  line-height: 1.3rem;
}

#TMG .TMG__article-person-names-container {
  color: #19212e;
}

#TMG .TMG__article-person-names-container .TMG__article-person-first-name-dark {
  margin-bottom: 5px;
  opacity: 80%;
}

#TMG .TMG__article-person-names-container .TMG__article-person-last-name-dark {
  margin-top: 0px;
  opacity: 50%;
}

#TMG .TMG__article-strong-p-dark {
  font-size: 1.5rem;
  margin-top: 10px;
  opacity: 80%;
}

#TMG .TMG__article-regular-p-dark {
  line-height: 1.3rem;
  opacity: 50%;
}

#TMG #TMG__article-daniel {
  background-color: #7541c8;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 5%;
  background-size: 137px;
}

#TMG #TMG__article-daniel img {
  border: solid #a381da;
}

#TMG #TMG__article-jonathan {
  background-color: #48556a;
}

#TMG #TMG__article-jeanette {
  color: #19212e;
  background-color: white;
}

#TMG #TMG__article-patrick {
  background-color: #19212e;
}

#TMG #TMG__article-patrick img {
  border: solid #a381da;
}

#TMG #TMG__article-kira {
  color: #19212e;
  background-color: white;
}

@media screen and (min-width: 1024px) {
  #TMG {
    margin: 3% 5% 3% 2%;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -ms-grid-rows: 45% 50%;
        grid-template-rows: 45% 50%;
    -ms-grid-columns: 30% 20% 27% 22%;
        grid-template-columns: 30% 20% 27% 22%;
        grid-template-areas: "dani dani jona kira" "jean patr patr kira";
  }
  #TMG #TMG__article-daniel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: dani;
    background-position: top right 15%;
  }
  #TMG #TMG__article-jonathan {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: jona;
  }
  #TMG #TMG__article-jeanette {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: jean;
  }
  #TMG #TMG__article-patrick {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: patr;
  }
  #TMG #TMG__article-kira {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: kira;
  }
}
/*# sourceMappingURL=styles.css.map */